@use '@styles/global/variables' as vars;
@use '@styles/global/mixins' as mixins;

.main-page__add-button {
  @include mixins.default-centered-element;
  @include mixins.default-button(vars.$color-bronze, vars.$color-hint-of-red);
  width: 174px;
  height: 44px;
  &:hover {
    background-color: vars.$color-hint-of-red-hover;
  }
  &:disabled {
    cursor: auto;
  }
}

.add-button {
  &__text {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-transform: scale(1.1, 1);
    -ms-transform: scale(1.1, 1);
    transform: scale(1.1, 1);
  }

  &__icon {
    width: 14px;
    height: 14px;
    padding-left: 14px;
  }
}
