@use '@styles/global/variables' as vars;
@use '@styles/global/mixins' as mixins;
.filters-form {
  &__fields {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    justify-items: center;
    margin-bottom: 8px;
    border-left: none;
  }

  &__field span {
    margin-right: 10px;
  }

  &__submit {
    @include mixins.default-button(vars.$color-bronze, vars.$color-hint-of-red);
    &:hover {
      background-color: vars.$color-hint-of-red-hover;
      border: 1px solid vars.$color-bronze;
    }
  }
  &__reset {
    @include mixins.default-button(vars.$color-linen, vars.$color-slugger);
    border: 1px solid vars.$color-slugger;
    &:hover {
      color: vars.$color-slugger;
      background-color: vars.$color-linen;
      border: 1px solid vars.$color-slugger;
    }
  }
}

@media screen and (max-width: 767px) {
  .filters-form {
    &__fields {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 8px;
      padding-left: 10px;
      border-left: 2px dotted vars.$color-hurricane;
      justify-items: start;
    }
    &__submit,
    &__reset {
      padding: 4px 6px;
    }
  }
}

@media screen and (max-width: 374px) {
  .filters-form {
    &__fields {
      border-left: none;
    }

    &__field {
      width: 100px;
    }
  }
}
