@use '@styles/global/variables' as vars;
@use '@styles/global/mixins' as mixins;
@forward '@styles/blocks/add-button';
@forward '@styles/blocks/table';

.main-page {
  @include mixins.default-centered-page;

  &__wrapper {
    width: max-content;
    margin-top: 44px;
  }

  &__title-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 20px;
    padding: 0 30px;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: vars.$color-slugger;
  }
}
